
.idea/misc.xml
.idea/deeplearning.iml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/functions.cpython-36.pyc
.idea/modules.xml
/dataset/mnist_test.csv
/dataset/mnist_train.csv
*.pyc
*.pyc
*.pyc
.DS_Store
MakeYourOwnNeuralNetwork/__pycache__/neuralNetwork.cpython-36.pyc
MakeYourOwnNeuralNetwork/__pycache__/neuralNetwork.cpython-36.pyc
*.pkl
*.gz
MakeYourOwnNeuralNetwork/__pycache__/neuralNetwork.cpython-36.pyc
